NODE_ENV=development
MONGODB_URI=mongodb://mongodb:27017/dispatchai
PORT=4000
JWT_SECRET=AIGne1dnn6DFg4JoDsDHW4eX4M/xZkHTpOdo4N08Cl0=
JWT_ALGORITHM=HS256
JWT_EXPIRE_TIME=3600
CORS_ORIGIN=*
OPENAI_API_KEY=sk-proj-1234567890

# Set LOG_TO_FILE to true to enable logging to a file instead of the console.
LOG_TO_FILE=false