services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.uat
    container_name: dispatchai-api
    command: ["node", "dist/main"]
    env_file:
      - .env
    environment:
      - NODE_ENV=uat
      - MONGODB_URI=mongodb://mongodb:27017/dispatchai
      - SHOW_ERROR_MESSAGE=true
    ports:
      - "4000:4000"
    volumes:
      - /home/ubuntu/dispatch-ai/logs:/app/logs

  mongodb:
    image: mongo:latest
    container_name: dispatchai-mongodb
